@import '../../../../../assets/scss/custom.scss';
@include themify($themes) {
.raw-material-wrapper{
    .cust-raw-mat-btn-one{
        border: none;
        background-color: $green_color;
        color: $white_color;
        padding: auto 100px !important;
    }

    .cust-raw-mat-icon{
        width: 20px;
    }

}


.card{
    border-color:themed("border") !important;
    background-color: themed("topheader") !important;
    &-body{
        color: themed("text") !important;;
    }
}

}