<section>
  <app-pageheaders
    [topHeadingContent]="{
        heading: 'Inventory Type',
        subitems: 'Create/List Inventory Type',
      }"
  >
  </app-pageheaders>

  <app-accordian
    [accordianItems]="{
      heading: 'Add New Inventory Type',
      id: 'fillInventoryTypeDetails'
    }"
  >
    <div class="row" [formGroup]="inventorytypeform">
      <div class="col-12 col-lg-4">
        <div class="mb-3">
          <label for="name" class="form-label">Name :</label>
          <input
            type="text"
            class="form-control mb-3"
            id="name"
            placeholder="Name"
            formControlName="inventname"
          />
          <div class="text-danger">
            @if(inventorytypeform.controls['inventname'].touched)
            {
            @if(inventorytypeform.controls['inventname'].errors?.['required']){
              <span>This field is required</span>
            }
            }
          </div>
        </div>
      </div>
<!-- 
      <div class="col-12 col-lg-4">
        <div class="mb-3">
          <label for="state" class="form-label">State :</label>
          <select class="form-select" aria-label="State" formControlName="state" >
            <option selected>State</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div class="text-danger">
            @if(inventorytypeform.controls['state'].touched)
            {
            @if(inventorytypeform.controls['state'].errors?.['required']){
              <span>Please choose state</span>
            }
            }
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-3">
          <label for="district" class="form-label">District :</label>
          <select class="form-select" aria-label="district" formControlName="district">
            <option selected>District</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div class="text-danger">
            @if(inventorytypeform.controls['district'].touched)
            {
              @if(inventorytypeform.controls['district'].errors?.['required'])
              {
                <span>Please choose district</span>
              }
            }
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-3">
          <label for="block" class="form-label">Block :</label>
          <select class="form-select" aria-label="block" formControlName="block">
            <option selected>Block</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            
          </select>
          <div class="text-danger">
            @if(inventorytypeform.controls['block'].touched)
            {
            @if(inventorytypeform.controls['block'].errors?.['required']){
              <span>Please Choose block</span>
            }
            }
          </div>
        </div>
      </div> -->


      <div class="col-12 col-lg-4">
        <div class="toggle my-1">
          <label for="locatonname" class="form-label">Status :</label>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckChecked"
              checked
              formControlName="checkbox"
            />
          </div>

          <div class="text-danger">
            @if(inventorytypeform.controls['checkbox'].touched)
            {
            @if(inventorytypeform.controls['checkbox'].errors?.['required']){
              <span>Please choose state</span>
            }
            }
          </div>
        </div>
      </div>
    </div>

    <!-- <app-buttons [buttonText]="{ cancel: 'Cancel', save: 'Save Location' }" /> -->

    <div class="mt-5">
      <app-buttons
        [buttonText]="{ cancel: 'Cancel', save: 'Save Designation' }" 
        (buttonClick)="validateTable($event)"
      />
    </div>
  </app-accordian>

  <app-table [columns]="columns" [tableData]="tableData" (actionType)="tableAction($event)">

    </app-table>
</section>
