$backgroundlight:#f8f9fa;
$blur_background_color:#fffc;
$orangered_color : #ff9f43 ;
$white_color :  white;
$red_color : #FD2F2E;
$text_color :#516a7f;
$add_component_bgcolor:#FAFBFE;
$add_component_buttoncolor:#092c4c;
$placeholder_color:#9ba9c0;
$cancel_button_color:#67748e;
$cancel_button_color_hover:#424B52;
$submit_button_color_hover:#FF8510;



$table-button-border: #e8ebed;











$lightgrey:#e9ebed;
$activeMenuside:#fe9f4314;
$black:black;
