

$backgroundlight:#f8f9fa;
$blur_background_color:#fffc;
$orangered_color : #ff9f43 ;
$white_color :  white;
$red_color : #FD2F2E;
$text_color :#516a7f;
$add_component_bgcolor:#FAFBFE;
$add_component_buttoncolor:#092c4c;
$placeholder_color:#9ba9c0;
$cancel_button_color:#67748e;
$cancel_button_color_hover:#424B52;
$submit_button_color_hover:#FF8510;
$black:black;
$dark_text:#97a2d2;

$dark_theme_color:#031727;



$table-button-border: #e8ebed;
$green_color: green;

$light_shadow_color:rgba(240,228,240,1);
$dark_shadow_color: rgb(68 67 67 / 73%);
$sale_card_back:#80808094;









$lightgrey:#e9ebed;
$activeMenuside:#fe9f4314;
$black:black;
$card_border:#dbe0e6;
$selectedButton:#2467a5;


$themes: (
    light-theme: (
    topheader:$white_color,
    background:$backgroundlight,
    text:$black,
    invert:invert(0),
    shadow:$light_shadow_color,
    labelcolor:$table-button-border,
    tabletext:$black,
    accordianheader:$add_component_buttoncolor,
    border:$card_border,
    cardbackground:$white_color

  ),
  dark-theme: (
    topheader:$dark_theme_color,
    background:$dark_theme_color,
    text:$dark_text,
    invert:invert(1),
    shadow:$dark_shadow_color,
    labelcolor:$dark_text,
    tabletext:$dark_text,
    accordianheader:$dark_text,
    border:$dark_text,
    cardbackground:$dark_theme_color


  ),
);

@mixin themify($themes) {
    @each $name, $values in $themes {
        ::ng-deep.#{$name}{
        $theme-map: $values !global;
        @content;
      }
    }
  }
  @function themed($key) {
    @return map-get($theme-map, $key);
  }
