$backgroundlight:#f8f9fa;
$blur_background_color:#fffc;
$orangered_color : #ff9f43 ;
$white_color :  white;
$red_color : #FD2F2E;
$text_color :#516a7f;
$add_component_bgcolor:#FAFBFE;
$add_component_buttoncolor:#092c4c;
$placeholder_color:#9ba9c0;