<section>
    <app-pageheaders [topHeadingContent]="{
        heading: 'Inventory',
        subitems: 'Add New Inventory',
      }">
        <div class="top_header">
            <div class="top_header_button">
                <button type="button" class="btn btn-secondary d-flex justify-content-between align-items-center"
                    (click)="location.back()">
                    <i-feather name="arrow-left" class="icons custom-icons"></i-feather>
                    <span>Back to Inventory List</span>
                </button>
            </div>
        </div>
    </app-pageheaders>



</section>