<section>
  <app-pageheaders
    [topHeadingContent]="{
        heading: 'Location',
        subitems: 'Create/List Location',
      }"
  >
  </app-pageheaders>

  <app-accordian
    [accordianItems]="{
      heading: 'Add New Location Details',
      id: 'filllocationdetails'
    }"
  >
    <div class="row" [formGroup]="locationform">
      <div class="col-12 col-lg-4">
        <div class="mb-3">
          <label for="locationname" class="form-label">Location Name :</label>
          <input
            type="text"
            class="form-control"
            id="locatonname"
            placeholder="Location Name"
            formControlName="locationname"
          />
          
            @if(locationform.controls['locationname'].touched)
            {
              <div class="text-danger mt-1">
            @if(locationform.controls['locationname'].errors?.['required']){
              <b>Location Name is required</b>
            }
          </div>
            }
          
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-3">
          <label for="emailaddress" class="form-label">Email Address :</label>
          <input
            type="email"
            class="form-control"
            id="emailaddress"
            placeholder="Email Address"
            formControlName="emailaddress"
          />
          
            @if(locationform.controls['emailaddress'].touched)
            {
              <div class="text-danger mt-1">
            @if(locationform.controls['emailaddress'].errors?.['required']){
              <b>Email Address is required</b>
            }
          </div>
            }
          
        </div> 
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-3">
          <label for="mobiles" class="form-label">Mobile No. :</label>
          <input
            type="number"
            class="form-control"
            id="mobiles"
            placeholder="Mobile No"
            formControlName="mobile"
          />
          
            @if(locationform.controls['mobile'].touched)
            {
              <div class="text-danger mt-1">
            @if(locationform.controls['mobile'].errors?.['required']){
              <b>Mobile No. is required</b>
            }
          </div>
            }
          
        </div> 
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-3">
          <label for="locationname" class="form-label">Latitude :</label>
          <input
            type="number"
            class="form-control"
            id="locatonname"
            placeholder="Latitude"
            formControlName="latitude"
          />
          
            @if(locationform.controls['latitude'].touched)
            {
              <div class="text-danger mt-1">
            @if(locationform.controls['latitude'].errors?.['required']){
              <b> Latitude is required</b>
            }
          </div>
            }
         
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-3">
          <label for="locationname" class="form-label">Longitude :</label>
          <input
            type="number"
            class="form-control"
            id="locatonname"
            placeholder="Longitude"
            formControlName="longitude"
          />
          
            @if(locationform.controls['longitude'].touched)
            {
              <div class="text-danger mt-1">
            @if(locationform.controls['longitude'].errors?.['required']){
              <b> Longitude is required</b>
            }
          </div>
            }
          
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-3">
          <label for="state" class="form-label">State :</label>
          <select class="form-select" aria-label="State" formControlName="state" >
            <option selected>State</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          
            @if(locationform.controls['state'].touched)
            {
              <div class="text-danger mt-1">
            @if(locationform.controls['state'].errors?.['required']){
              <b>Please choose state</b>
            } </div>
            }
         
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-3">
          <label for="district" class="form-label">District :</label>
          <select class="form-select" aria-label="district" formControlName="district">
            <option selected>District</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          
            @if(locationform.controls['district'].touched)
            {
              <div class="text-danger mt-1">
              @if(locationform.controls['district'].errors?.['required'])
              {
                <b>Please choose district</b>
              }
            </div>
            }
          
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="mb-3">
          <label for="block" class="form-label">Block :</label>
          <select class="form-select" aria-label="block" formControlName="block">
            <option selected>Block</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            
          </select>
          
            @if(locationform.controls['block'].touched)
            {
              <div class="text-danger mt-1">
            @if(locationform.controls['block'].errors?.['required']){
              <b>Please Choose block</b>
            } 
           </div>

            }
        
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="toggle my-1">
          <label for="locatonname" class="form-label">Status :</label>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckChecked"
              checked
              formControlName="status"
            />
            @if(locationform.controls['status'].touched)
            {
              <div class="text-danger">
            @if(locationform.controls['status'].errors?.['required']){
              <b> please Select Status </b>
              
            }
          </div>
            }
          </div>
        </div>
      </div>
    </div>

    <!-- <app-buttons [buttonText]="{ cancel: 'Cancel', save: 'Save Location' }" /> -->

    <div class="mt-5">
      <app-buttons
        [buttonText]="{ cancel: 'Cancel', save: 'Save Location' }" 
        (buttonClick)="validateTable($event)"
      />
    </div>
  </app-accordian>

  <app-table [columns]="columns" [tableData]="tableData" (actionType)="tableAction($event)"> </app-table>

    
</section>
