 @import "../../../../assets/scss/custom.scss";
.add_section{
  height: max-content;
  p{
    color: $text_color;
  }

.top_header{
    position: relative;
    top: -10px;
    .top_header_text{
        h5{
           font-size: 18px;
           color: $add_component_buttoncolor;
           font-weight: 600;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: $text_color;
        }
        .top_header_button{
            font-weight: 600;
        }
    }
    button{
        background-color: $add_component_buttoncolor; 
        
    } 
}
.body_section{
    h5{
        font-size: 16px;
        color: $add_component_buttoncolor;
        font-weight: 500;
     }
     p{
        font-size: 14px;
        font-weight: 500;
     }
    .accordion-button{
        background: none;
    }
    input::placeholder{
       color: $placeholder_color;
    }
    .last_button{
        .cancel_button{
           button{
            background-color: $cancel_button_color;
            color: $white_color;
           }
           button:hover{
            background-color: $cancel_button_color_hover;
           }
        }
        
        .submit_button{
            button{
        background-color: $orangered_color;
        color: $white_color;
            }
            button:hover{
                background-color: $submit_button_color_hover;
            }
        }
    }
}
}