 @import "../../../../assets/scss/custom.scss";
.add_section{
  height: max-content;
  p{
    color: $text_color;
  }

.top_header{
    position: relative;
    top: -10px;
    div{
        h5{
           font-size: 18px;
           color: $add_component_buttoncolor;
           font-weight: 600;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: $text_color;
        }
        button{
            font-weight: 600;
        }
    }
    button{
        background-color: $add_component_buttoncolor; 
        
    } 
    p{
        font-size: 16px;     // color: $text_color;
    }
}
.body_section{
    h5{
        font-size: 16px;
        color: $add_component_buttoncolor;
        font-weight: 500;
     }
    .accordion-button{
        background: none;
    }
    input::placeholder{
       color: $placeholder_color;
    }
    .selective{
        option{
            p{
            color: $placeholder_color;
            }
        }
    }
    .last_button{
        .cancel_button{
            background-color: $text_color;
        }
        .cancel_button:hover{
            background-color: none;
        }
        .submit_button{
        background-color: $orangered_color;
        }
    }

}


}