<section>
  <app-pageheaders
    [topHeadingContent]="{
      heading: 'New User',
      subitems: 'Create New User',
    }"
  >
    <div class="top_header">
      <div class="top_header_button">
        <button
          type="button"
          class="btn btn-secondary d-flex justify-content-between align-items-center"
          routerLink="/layout/add/list"
        >
          <i-feather name="arrow-left" class="icons custom-icons"></i-feather>
          <span>Back to List</span>
        </button>
      </div>
    </div>
  </app-pageheaders>
  <app-accordian
  [accordianItems]="{ heading: 'Fill their details', id: 'filltheirdetails' }"
>
  <div class="add_section">
    <div class="body_section">
      <!-- fill here accordion -->
      <div class="row" [formGroup]="userform">
        <div class="col-12 col-lg-4">
          <div class="my-2">
            <label for="exampleFormControlInput1" class="form-label fs-6"
              ><p class="mb-0">Your Name :</p></label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Enter Your Name"
              formControlName="name"
            />
           
              @if(userform.controls['name'].touched)
              {
                <div class="text-danger mt-1">
              @if(userform.controls['name'].errors?.['required']){
                <b> Name is required</b>
              }
            </div>
              }
          
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="my-2">
            <label for="exampleFormControlInput1" class="form-label"
              >Mobile No. :</label
            >
            <input
              type="number"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Enter Your Contact"
              formControlName="mobile"
            />
            
              @if(userform.controls['mobile'].touched)
              {
                <div class="text-danger mt-1">
              @if(userform.controls['mobile'].errors?.['required']){
                <b>Mobile No. is required</b>
              }
            </div>
              }
           
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="my-2">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address :</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
              formControlName="email"
            />
            @if(userform.controls['email'].touched)
            {
            <div class="text-danger mt-1">            
              @if(userform.controls['email'].errors?.['required']){
                <b>Email is required</b>
              }
            </div>
              }
           
          </div>
        </div>
        <!-- Selective -->
        <div class="col-lg-4 col-12 my-2">
          <div class="selective ">
            <label for="" class="mb-2">Your Designation :</label>
            <!-- <p class="mb-2">Your Designation :</p> -->
            <select class="form-select" aria-label="Default select example" formControlName="designation">
              <option selected disabled>Select One</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            
              @if(userform.controls['designation'].touched)
              {
                <div class="text-danger mt-1">
              @if(userform.controls['designation'].errors?.['required']){
                <b>Please Choose Your Designation</b>
              }
            </div>
              }
            
          </div>
        </div>
        <!-- Multiple select option -->
        <div class="col-lg-4 col-12 my-2">
          <div class="selective ">
            <!-- <p class="mb-2">Location :</p> -->
             <label for="" class="mb-2">Location :</label>
            <select class="form-select" aria-label="Default select example" formControlName="location">
              <option selected disabled>Select One</option>
              <option value="1">Branch 1</option>
              <option value="2">Branch 2</option>
              <option value="3">Branch 3</option>
            </select>
            @if(userform.controls['location'].touched)
            {
            <div class="text-danger mt-1">
            
              @if(userform.controls['location'].errors?.['required']){
                <b>Please Choose Your Location</b>
              }
           
            </div>
          }

          </div>
        </div>

        <!-- Toggle button -->
        <div class="col-lg-4 col-12 my-2">
          <div class="toggle">
            <p class="mb-2">Status :</p>
            <div class="toggle_button">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  checked
                  formControlName="status"
                />
                @if(userform.controls['status'].touched)
              {
                <div class="text-danger">
              @if(userform.controls['status'].errors?.['required']){
                <b> please Select Status </b>
                
              }
            </div>
              }
                <label class="form-check-label" for="flexSwitchCheckChecked">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- last button -->
  <!-- <app-buttons [buttonText]="{ cancel: 'Reset', save: 'Add User' }" /> -->
  <div class="mt-5">
    <app-buttons
      [buttonText]="{ cancel: 'Cancel', save: 'Save Designation' }" 
      (buttonClick)="validateTable($event)"
    />
  </div>
</app-accordian>
</section>


