.pradeep {
    display: flex !important;
    justify-content: center !important;
}

.navbar {
    border-bottom: 1px solid #dbe0e6;

    .logo-section{
        border-right: 1px solid #dbe0e6;
    }


    ul {
        li {
            img {
                width: 20px;
                height: 20px; border-radius: 50%;
            }
        }

    }
}

