<nav class="navbar navbar-expand-lg navbar-light bg-light position-absolute slide-up"  [class.show]="isShow" aria-label="Offcanvas navbar large" [ngStyle]="{'left' : isSide ? '80px' :'258px'}">
  <div class="nav-wrapper conatiner-fluid w-100">

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
      aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark w-100 d-flex justify-content-between align-items-center" tabindex="-1" id="offcanvasNavbar2"
      aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body align-items-center w-100 justify-content-between">
        <form class="d-flex mx-3 nav-search-bar" role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
        <ul class="navbar-nav align-items-center justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <div class="store-dropdown dropdown me-3">
              <button class="btn btn-outline-secondary dropdown-toggle d-flex justify-content-center align-items-center"
                type="button" data-bs-toggle="dropdown">
                <img class="me-2" src="../../../assets/images/store-01.png" alt="Store">
                Select Store {{isShow}}
              </button>
              <ul class="dropdown-menu">
                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/store-01.png" alt="Store">
                  <a class="dropdown-item" href="#">Grocery Alpha</a>
                </li>

                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/store-02.png" alt="Store">
                  <a class="dropdown-item" href="#">Grocery Apex </a>
                </li>

                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/store-03.png" alt="Store">
                  <a class="dropdown-item" href="#">Grocery Bevy</a>
                </li>

                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/store-04.png" alt="Store">
                  <a class="dropdown-item" href="#">Grocery Eden</a>
                </li>
              </ul>
            </div>
            <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
          </li>

          <li class="nav-item me-3" style="padding: 5px 0;">
            <div class="store-dropdown dropdown ">
              <button class="btn btn-outline-secondary d-flex justify-content-center align-items-center icon-button" type="button"
                data-bs-toggle="dropdown">
                <img src="../../../assets/images/us.png" alt="I">
                <!-- Select Store -->
              </button>
              <ul class="dropdown-menu">
                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/us.png" alt="Store">
                  <a class="dropdown-item" href="#">English</a>
                </li>
                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/fr.png" alt="Store">
                  <a class="dropdown-item" href="#">French</a>
                </li>
                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/es.png" alt="Store">
                  <a class="dropdown-item" href="#">Spanish</a>
                </li>
                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/de.png" alt="Store">
                  <a class="dropdown-item" href="#">German</a>
                </li>
              </ul>
            </div>
            <!-- <a class="nav-link" href="#">Link</a> -->
          </li>

          <li class="nav-item me-3">
            <a href="#">
              <button class="btn btn-outline-secondary d-flex justify-content-center align-items-center icon-button" type="button"
                data-bs-toggle="dropdown">
                <img src="../../../assets/images/zoom.svg" alt="I">

              </button>
            </a>
          </li>

          <li class="nav-item me-3">
            <a href="#">
              <button class="btn btn-outline-secondary d-flex justify-content-center align-items-center icon-button position-relative" type="button"
                data-bs-toggle="dropdown">
                <img src="../../../assets/images/mail-second.png" alt="">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  1
                  <span class="visually-hidden">unread messages</span>
                </span>

              </button>
            </a>
          </li>

          <li class="nav-item me-3">
            <a href="#">
              <button class="btn btn-outline-secondary d-flex justify-content-center align-items-center icon-button position-relative" type="button"
                data-bs-toggle="dropdown">
                <img src="../../../assets/images/bell.svg" alt="I">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  0
                  <span class="visually-hidden">unread messages</span>
                </span>

              </button>
            </a>
          </li>

          <li class="nav-item me-3">
            <a href="#">
              <button class="btn btn-outline-secondary d-flex justify-content-center align-items-center icon-button" type="button"
                data-bs-toggle="dropdown">
                <img src="../../../assets/images/setting.svg" alt="I">

              </button>
            </a>
          </li>

          <!-- Profile Dropdown -->
          <li class="nav-item ">
            <div class="dropdown">
              <button class="btn btn-light d-flex align-items-center cust-profile" type="button" data-bs-toggle="dropdown">
                <img src="../../../assets/images/avator1.jpg" alt="Profile" class="profile-img me-2">
                <div>
                  <strong>John Smilga</strong><br>
                  <small>Super Admin</small>
                </div>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>