<!-- sample 2 -->

<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="" alt="Dreams POS Logo">

    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <!-- Sidebar Toggle Button -->
        <button class="btn btn-light me-3">
          <span class="bi bi-chevron-left"></span>
        </button>

        <!-- Search Box -->
        <div class="search-box me-auto">
          <input type="text" class="form-control" placeholder="Search">
        </div>

        <!-- Store Dropdown -->
        <div class="store-dropdown dropdown me-3">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            <img src="store-icon.png" alt="Store">
            Select Store
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Store 1</a></li>
            <li><a class="dropdown-item" href="#">Store 2</a></li>
          </ul>
        </div>

        <!-- Icons -->
        <div class="d-flex align-items-center">
          <button class="icon-btn me-2">
            <img src="flag-icon.png" alt="Flag" width="24">
          </button>
          <button class="icon-btn me-2">
            <span class="bi bi-arrows-fullscreen"></span>
          </button>
          <button class="icon-btn me-2">
            <span class="bi bi-envelope"></span>
            <span class="badge">1</span>
          </button>
          <button class="icon-btn me-2">
            <span class="bi bi-bell"></span>
            <span class="badge">2</span>
          </button>
          <button class="icon-btn me-2">
            <span class="bi bi-gear"></span>
          </button>
        </div>

        <!-- Profile Dropdown -->
        <div class="dropdown">
          <button class="btn btn-light d-flex align-items-center" type="button" data-bs-toggle="dropdown">
            <img src="profile.jpg" alt="Profile" class="profile-img me-2">
            <div>
              <strong>John Smilga</strong><br>
              <small>Super Admin</small>
            </div>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- sample 3 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Offcanvas navbar large">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Responsive offcanvas navbar</a> -->
    <div class="d-flex justify-content-center" style="width: 250px;">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/logo.png" alt="Logo" width="140" height="42"
          class="d-inline-block align-text-top">

      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
      aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
      aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form class="d-flex mt-3 mt-lg-0" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <div class="store-dropdown dropdown me-3">
              <button class="btn btn-outline-secondary dropdown-toggle d-flex justify-content-center align-items-center"
               type="button" data-bs-toggle="dropdown">
                <img src="../../../assets/images/store-01.png" alt="Store">
                Select Store
              </button>
              <ul class="dropdown-menu">
                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/store-01.png" alt="Store">
                  <a class="dropdown-item" href="#">Grocery Alpha</a>
                </li>

                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/store-02.png" alt="Store">
                  <a class="dropdown-item" href="#">Grocery Apex </a>
                </li>

                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/store-03.png" alt="Store">
                  <a class="dropdown-item" href="#">Grocery Bevy</a>
                </li>

                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/store-04.png" alt="Store">
                  <a class="dropdown-item" href="#">Grocery Eden</a>
                </li>
              </ul>
            </div>
            <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
          </li>
          
          <li class="nav-item">
            <div class="store-dropdown dropdown me-3">
              <button class="btn btn-outline-secondary d-flex justify-content-center align-items-center " 
              type="button" data-bs-toggle="dropdown">
                <img src="../../../assets/images/us.png" alt="I">
                <!-- Select Store -->
              </button>
              <ul class="dropdown-menu">
                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/us.png" alt="Store">
                  <a class="dropdown-item" href="#">English</a>
                </li>
                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/fr.png" alt="Store">
                  <a class="dropdown-item" href="#">French</a>
                </li>
                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/es.png" alt="Store">
                  <a class="dropdown-item" href="#">Spanish</a>
                </li>
                <li class="d-flex justify-content-center align-items-center px-3">
                  <img src="../../../assets/images/de.png" alt="Store">
                  <a class="dropdown-item" href="#">German</a>
                </li>
              </ul>
            </div>
            <!-- <a class="nav-link" href="#">Link</a> -->
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>