@import "../../../assets/scss/custom.scss";

.product-wrapper {
  .product-right {
    a {
      text-decoration: none;
    }

    .icon-button {
      width: 38px;
      border: 1px solid $table-button-border;
    }

    .add-button {
      font-size: 14px !important;
      background-color: $orangered_color;
      border: none;
      color: $white_color;

      &:hover {
        background-color: $add_component_buttoncolor;
      }
    }

    .import-buton {
      font-size: 14px !important;
      background-color: $add_component_buttoncolor;
      border: none;

      &:hover {
        background-color: $orangered_color;
      }
    }
  }
}

.table-wrapper {
  border: 1px solid $table-button-border;
  padding: 16px;

  .cust-search-bar {
    width: 300px;
  }

  .filtr-button {
    background-color: $orangered_color;
    border: none;
    color: $white_color;
  }

  .table-dropdown {
    button {
      border: 1px solid $table-button-border;
    }
  }
}

::ng-deep {
  .mat-mdc-table {
    background-color: transparent !important;
    border-spacing: 50px 150px;
  }

  .mat-mdc-header-cell {
    border-bottom-color: $table-button-border !important;
  }

  .mat-mdc-cell {
    border-bottom-color: $table-button-border !important;
  }

  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 25px !important;
  }

  .mat-mdc-paginator-container {
    background-color: $white_color;
  }
}

// .dropdown-menu {
//   &.show {
//     transform: translate(0px, 0px) !important;
//   }
// }
