@import "../../../assets/scss/custom.scss";

.product-wrapper{
    .product-right{
        
        a{
            text-decoration: none;
        }

        .icon-button{
            width: 38px;
            border: 1px solid $table-button-border;
        }
        
        .add-button{
            font-size: 14px !important;
            background-color: $orangered_color;
            border: none;
            color: white;

            &:hover{
                background-color: $add_component_buttoncolor;
            }
        }

        .import-buton{
            font-size: 14px !important;
            background-color: $add_component_buttoncolor;
            border: none;

            &:hover{
                background-color: $orangered_color;
            }
        }
    }
}