<!-- <p>table works!</p> -->
<div class="product-wrapper mb-3"></div>

<div class="table-wrapper">
  <div
    class="d-flex justify-content-between align-items-center table-filter-cust"
  >
    <!-- <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
       </mat-form-field> -->

    <form class="d-flex cust-search-bar m-3" role="search">
      <input
        class="form-control"
        type="search"
        placeholder="Search"
        aria-label="Search"
        matInput
        (keyup)="applyFilter($event)"
        #input
      />
      <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
    </form>

    <div class="d-flex">
      <div class="me-3">
        <button
          class="btn btn-outline-secondary d-flex justify-content-center align-items-center filtr-button"
          type="button"
          data-bs-toggle="dropdown"
        >
          <i-feather name="filter"></i-feather>
        </button>
      </div>

      <div class="dropdown me-3 table-dropdown">
        <button
          class="btn btn-outline-secondary dropdown-toggle d-flex justify-content-center align-items-center"
          type="button"
          data-bs-toggle="dropdown"
        >
          <i-feather name="sliders" class="me-2"></i-feather>
          Short by Date
        </button>
        <ul class="dropdown-menu">
          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-01.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Alpha</a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-02.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Apex </a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-03.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Bevy</a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-04.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Eden</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- filter -->
  <div
    class="d-flex justify-content-between align-items-center table-filter-cust"
  >
    <div class="d-flex">
      <div class="dropdown m-3 table-dropdown">
        <button
          class="btn btn-outline-secondary dropdown-toggle d-flex justify-content-center align-items-center"
          type="button"
          data-bs-toggle="dropdown"
        >
          <i-feather name="box" class="me-2"></i-feather>
          Choose Product
        </button>
        <ul class="dropdown-menu">
          <li class="d-flex justify-content-center align-items-center px-3">
            <a class="dropdown-item" href="#">Grocery Alpha</a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <a class="dropdown-item" href="#">Grocery Apex </a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-03.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Bevy</a>
          </li>
        </ul>
      </div>

      <div class="dropdown m-3 table-dropdown">
        <button
          class="btn btn-outline-secondary dropdown-toggle d-flex justify-content-center align-items-center"
          type="button"
          data-bs-toggle="dropdown"
        >
          <i-feather name="stop-circle" class="me-2"></i-feather>
          Choose Category
        </button>
        <ul class="dropdown-menu">
          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-01.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Alpha</a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-02.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Apex </a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-03.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Bevy</a>
          </li>
        </ul>
      </div>

      <div class="dropdown m-3 table-dropdown">
        <button
          class="btn btn-outline-secondary dropdown-toggle d-flex justify-content-center align-items-center"
          type="button"
          data-bs-toggle="dropdown"
        >
          <i-feather name="git-merge" class="me-2"></i-feather>
          Choose Sub Category
        </button>
        <ul class="dropdown-menu">
          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-01.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Alpha</a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-02.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Apex </a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-03.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Bevy</a>
          </li>
        </ul>
      </div>

      <div class="dropdown m-3 table-dropdown">
        <button
          class="btn btn-outline-secondary dropdown-toggle d-flex justify-content-center align-items-center"
          type="button"
          data-bs-toggle="dropdown"
        >
          <i-feather name="stop-circle" class="me-2"></i-feather>
          All Brand
        </button>
        <ul class="dropdown-menu">
          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-01.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Alpha</a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-02.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Apex </a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <!-- <img src="../../../assets/images/store-03.png" alt="Store"> -->
            <a class="dropdown-item" href="#">Grocery Bevy</a>
          </li>
        </ul>
      </div>

      <div class="dropdown m-3 table-dropdown">
        <button
          class="btn btn-outline-secondary dropdown-toggle d-flex justify-content-center align-items-center"
          type="button"
          data-bs-toggle="dropdown"
        >
          <i-feather name="dollar-sign" class="me-2"></i-feather>
          Price
        </button>
        <ul class="dropdown-menu">
          <li class="d-flex justify-content-center align-items-center px-3">
            <a class="dropdown-item" href="#">Grocery Alpha</a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <a class="dropdown-item" href="#">Grocery Apex </a>
          </li>

          <li class="d-flex justify-content-center align-items-center px-3">
            <a class="dropdown-item" href="#">Grocery Bevy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex">
      <div class="me-3">
        <button
          class="btn btn-outline-secondary d-flex justify-content-center align-items-center filtr-button"
          type="button"
          data-bs-toggle="dropdown"
        >
          <i-feather name="search"></i-feather>
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Dynamic Column Definition -->
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>

        <td mat-cell *matCellDef="let element">
          @if(column.key != 'status' && column.key != 'action'){
          {{ element[column.key] }}

          } @if(column.key == 'status'){
          <span
            class="fw-bold"
            [ngClass]="{
              'text-success': element[column.key] == 'Active',
              'text-danger': element[column.key] == 'Disabled'
            }"
          >
            {{ element[column.key] }}
          </span>
          } @if(column.key == 'action'){

          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            @for (item of element[column.key]; track $index) {
            <button mat-menu-item (click)="performAction(item,element)">
              <i-feather [name]="iconList.icon(item)"[ngStyle]="{'height':'20px', 'width':'20px'}"></i-feather>
              <span class="ps-2">{{ item | titlecase }}</span>
            </button>
            }
          </mat-menu>
        

          }
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
