<div class="fulllogin_form">
    <div class="row">
        <div class="col-lg-6 col-12  ">
            <div class="blurImg w-100 d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="login_form px-4 px-lg-0">
                        <div class="d-flex justify-content-center my-3"> <img src="../../assets/images/pos_logo.png"
                                alt=""> </div>
                        <h4 class="my-2">Sign In</h4>
                        <p class=" mb-4">Access the Dreamspos panel using your email and passcode.</p>
                        <div class="w-100">
                            <p>Email Address</p>
                            <div class="input my-3 w-100">
                                <input type="text" class="w-100">
                                <img class="mailImg" src="/assets/images/mail.svg" width="15px" height="15px" alt="">
                            </div>
                        </div>
                        <div>

                            <p>Password</p>
                            <div class="input w-100">
                                <input type="password" class="w-100">
                                <i class='bx bx-low-vision fs-5 passImg'></i>
                            </div>

                        </div>
                        <div class="d-flex justify-content-between my-4">
                            <span class="checkbox">
                                <span> <input type="checkbox"> </span>
                                <span class="mx-2">Remember me</span>
                            </span>
                            <span class="forgot_color">Forgot Password</span>
                        </div>
                        <button type="button" class="btn btn-primary btn-lg mb-3 w-100 fs-6">Sign In</button>
                        <p>New on our plateform? <b>Create an account</b></p>
                        <div class="copyright d-flex justify-content-center mt-4">
                            <p>Copyright © 2023 DreamsPOS. All rights
                                reserved </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12"></div>

    </div>

</div>