<app-pageheaders [topHeadingContent]="{
    heading:  'Sale' ,
    subitems: isTableSelect ?'Table Choose': 'Menu Choose',
  }">

  <div class="top_header">


    <div class="top_header_button d-flex">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Select Order Type
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="selectTable()">Select Table</a></li>
              <li><a class="dropdown-item" (click)="selectType('delivery')">Delivery</a></li>
              <li><a class="dropdown-item" (click)="selectType('take')">Take Away</a></li>
            </ul>
          </div>
     
    </div>
  </div>
 
</app-pageheaders>

@if(isTableSelect){
<app-table-select (tableSelectDetails)="tableSelectedDetails($event)" />
} @else{
<div class="row">
  <div class="col-12 col-lg-8">
    <div class="row">
      <div class="col-12 col-lg-4">
        <select class="form-select" aria-label="Default select example" (change)="filterItem($event)"
          [(ngModel)]="selectCrusine">
          <option selected disabled>Select Category</option>
          @for (item of categoryData; track $index) {
          <option [value]="item?.id">{{ item?.categoryname }}</option>
          }
        </select>
      </div>
      <div class="col-12 col-lg-4">
        <form class="d-flex mx-3 nav-search-bar" role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
        </form>
      </div>
 
      @if(selectedTable?.tableno){
        <div class="col-12 col-lg-4">
            <div class="d-flex justify-content-end align-items-center">
              <p class="text-end mb-0">
                <b>Table No:</b> {{ selectedTable?.tableno }}({{
                selectedTable?.area
                }}) - {{ selectedTable?.status }}
              </p>
            </div>
          </div>
      }
   
    </div>

    <div class="row">
      @for (item of filetredItems; track $index) {
      <div class="col-12 col-lg-3">
        <app-sale-cards [itemsDetails]="item" (addToCart)="getDetails($event)" />
      </div>
      }
    </div>
  </div>

  <div class="col-12 col-lg-4">

    <div class="main-sale-area">
      <div class="w-100">
        <div class="btn-group btn-group-top w-100" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary" [class.active]="otherType == ''">Dine In</button>
          <button type="button" class="btn btn-primary" [class.active]="otherType == 'delivery'">Delivery</button>
          <button type="button" class="btn btn-primary" [class.active]="otherType == 'take'">Pickup</button>
        </div>

        <div class="type-container">
          <div class="type-container-products">
            <form [formGroup]="orderForm">
              <table class="table">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Check Items</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container formArrayName="items">
                    @if(items.controls.length > 0){
                      @for (item of items.controls; track $index) {

                        <tr [formGroupName]="$index">
                          <td>{{ $index + 1 }}</td>
                          <td>{{ item.get("itemname")?.value }}</td>
                          <td >
                            <div class="d-flex justify-content-start align-items-center">
                            <button type="button" (click)="decreaseQuantity($index)" class="in-dec-button">
                              -
                            </button>
                            <input type="number" formControlName="quantity" readonly class="text-center input-number" />
                            <button type="button" (click)="increaseQuantity($index)" class="in-dec-button">
                              +
                            </button>
                          </div>
                          </td>
                          <td>{{ item.get("price")?.value * item.get("quantity")?.value | currency:'INR' }}</td>

                          <td>
                            <i-feather [name]="'trash-2'" [ngStyle]="{ height: '20px', width: '20px' }" class="cursor"
                              (click)="removeItem($index)"></i-feather>
                          </td>
                        </tr>

                        }
                    }
                    @else {
                      <tr >
                        <td colspan="7" style="width: 75%; vertical-align: middle;" >
                      <div class="d-flex flex-column align-items-center justify-content-center h-100 no-record-image">
                      <img src="assets/images/cutlery.png" alt="cutlery" />

                        <h5>Please Select Item from Left Menu</h5>
                        <p>No Item Selected</p>

                      </div>
                    </td>
                    </tr>

                    }




                  </ng-container>


                </tbody>
              </table>
            </form>
          </div>





          <div class="total-area d-flex justify-content-between align-items-center p-2">

            <div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  Complimentary
                </label>
              </div>


              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  Sales Return
                </label>
              </div>
            </div>

            <div class="total-panel">
              Total Amount: <b>{{ calculateTotal() | currency:'INR'}}</b>
            </div>


          </div>


          <div class="payment-area d-flex justify-content-between align-items-center p-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Cash
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Card
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Due
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Other
              </label>
            </div>
          </div>


          <div class="bottom-area-button mt-2">
            <div class="btn-group w-100 mb-1" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-danger me-1">Save</button>
              <button type="button" class="btn btn-danger me-1" (click)="printMe()">Save & Print</button>
              <button type="button" class="btn btn-primary me-1">Save & E-Bill</button>
              <button type="button" class="btn btn-primary me-1">KOT</button>
              <button type="button" class="btn btn-primary me-1" (click)="printMe()">KOT & Print</button>
              <button type="button" class="btn btn-secondary">Hold</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
}

<div id="print-section">
@if(isPrinting){
  <div  style="display:flex;justify-content:center;align-items:center;"> 
    <div style="width:302px" class="text-center">

       <h4 style="text-align: center;margin: 0;padding-bottom: 10px;">Dummy Resturant</h4>

       <p style="text-align: center;margin:0">Akshya Nagar 1st Block 1st <br> Cross,Rammurthy nagar,<br> Bangalore-560013</p>

       <div style="border-bottom: 1px solid black;margin-top:10px"></div>

       <h5 [ngStyle]="{margin:'10px'}" style="text-align: center;margin-bottom: 0px;"><b>Tax Invoice</b></h5>
       <div style="border-bottom: 1px solid black;"></div>
       <h6 [ngStyle]="{margin:'10px'}" style="text-align: center;"><b>Original 
        Receipt for Recipient
       </b></h6>
       <h6 [ngStyle]="{margin:'10px'}" style="text-align: center;"><b>Order No: 467
       </b></h6>
       <div style="border-bottom: 1px solid black;margin-bottom: 10px;"></div>


       <table class="table" [ngStyle]="{
        width:'302px'
    }">
     
      <tbody  [ngStyle]="{
        width:'302px',
        marginTop:'100px'
    }">
       
       <tr  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">
        <th  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">Name</th>
        <td  [ngStyle]="{textAlign:'right', padding:'0px', marginTop:'5px', marginBottom:'5px', paddingTop:'5px'}">Nihal</td>
      </tr>

      <tr  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">
        <th  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">Phone</th>
        <td  [ngStyle]="{textAlign:'right', padding:'0px', marginTop:'5px', marginBottom:'5px', paddingTop:'5px'}">+91-7838298988</td>
      </tr>

      <tr  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">
        <th  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">Order Date</th>
        <td  [ngStyle]="{textAlign:'right', padding:'0px', marginTop:'5px', marginBottom:'5px', paddingTop:'5px'}">3/01/2025</td>
      </tr>
      </tbody>
     
    </table>



    <form [formGroup]="orderForm">
        <table class="table" [ngStyle]="{
            width:'302px'
        }">
          <thead>
            <tr  [ngStyle]="{textAlign:'left'}">
              <th>-</th>
              <th>Items</th>
              <th>Qty</th>
              <th [ngStyle]="{textAlign:'right', marginTop:'5px', marginBottom:'5px'}">Price</th>
            </tr>
          </thead>
          <tbody  [ngStyle]="{
            width:'302px'
        }">
            <ng-container formArrayName="items">
              @if(items.controls.length > 0){
                @for (item of items.controls; track $index) {

                  <tr [formGroupName]="$index" [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">
                    <td  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">{{ $index + 1 }}</td>
                    <td  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">{{ item.get("itemname")?.value }}</td>
                    <td  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">
                        {{item.get("quantity")?.value}}
                    </td>
                    <td  [ngStyle]="{textAlign:'right', marginTop:'5px', marginBottom:'5px'}">{{ item.get("price")?.value * item.get("quantity")?.value | currency:'INR' }}</td>

                 
                  </tr>

                  }
              }
            </ng-container>


          </tbody>
         
        </table>
      </form>
      <div style="border-bottom: 1px solid black;margin-bottom: 10px;"></div>


      <table class="table" [ngStyle]="{
        width:'302px'
    }">
     
      <tbody  [ngStyle]="{
        width:'302px',
        marginTop:'100px'
    }">
       
       <tr  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">
        <th  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">SGST 9%</th>
        <td  [ngStyle]="{textAlign:'right', padding:'0px', marginTop:'5px', marginBottom:'5px', paddingTop:'5px'}">{{calculateTotatl() * 9 /100 | currency:'INR' }}</td>
      </tr>

      <tr  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">
        <th  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">CGST 9%</th>
        <td  [ngStyle]="{textAlign:'right', padding:'0px', marginTop:'5px', marginBottom:'5px', paddingTop:'5px'}">{{calculateTotatl() * 9 /100 | currency:'INR' }}</td>
      </tr>

      <tr  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">
        <th  [ngStyle]="{textAlign:'left', marginTop:'5px', marginBottom:'5px'}">Total</th>
        <td  [ngStyle]="{textAlign:'right', padding:'0px', marginTop:'5px', marginBottom:'5px', paddingTop:'5px'}">{{ calculateTotatl() + calculateTotatl() * 18 /100| currency:'INR' }}</td>
      </tr>
      </tbody>
     
    </table>


    <h6 [ngStyle]="{textAlign:'center', margin:'0'}"><b>Disclaimer</b></h6>

    <p [ngStyle]="{fontSize:'14px', marginTop:'5px',textAlign:'center'}">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page.</p>
  </div>

</div>
}
</div>
  