@import "../../../assets/scss/custom.scss";
@include themify($themes) {

.sidebar {
    width: 258px;
    z-index: 999;
    background-color: themed("background");
    border-right: 1px solid themed("border") !important;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* Enable vertical scrolling */
    position: fixed;
    /* Keeps the sidebar fixed */
.navbar-brand
{
   
}
    .logo-section {
        border-bottom:1px solid themed("border") !important;
        display: flex;
        align-items: center;
        padding: 0 15px;
        background-color: themed("topheader") !important;
    }

    .accordion-item {
        border: none;
        background: transparent;
    }

    .accordion-button {
        background-color: themed("background");
        color:  themed("text");
        padding: 10px 35px;

        &:focus {
            box-shadow: none;
        }
    }

    .cust-accordian {
        // padding-left: 20px !important;
        color:  themed("text");

    }

    .section-title {
        font-weight: 600;

        color:  themed("text");
        margin: 0 0 14px;
        background-color: themed("background");
        // border-bottom: 1px solid #ddd;
        margin-bottom: 0;
    }

    .cust-hr {
        display: flex;
        justify-content: center;

        hr {
            width: 80%;
        }
    }

    ul {
        list-style: none;
        padding: 0px 15px;
        margin: 0;

        li {
            a {
                display: block;
                padding: 10px 20px;
                text-decoration: none;
                font-size: 0.9em;
                color:  themed("text");
            }
        }
    }

    /* Optional: Custom Scrollbar */
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }
}

.active {
    background: $activeMenuside;
    border-radius: 5px;
    color: $orangered_color !important;
    font-weight: 800;
}

a:not(.active):hover {
    background-color: transparent !important;
    font-weight: 500;
    color: $orangered_color !important;
}

.accordion-button:not(.collapsed) {
    border: none;
    /* Removes border when the accordion is open */
    box-shadow: none;
    /* Removes the default box shadow */
}


.slide-left {
    transform: translateX(-90%);
    left: 70px;
    transition:  transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    &.show {
      transform: translateX(0);
    left: 0px;
   
    }
  }
.show-sidebar
  {
    position: absolute;
    left: 247px;
    top: 20px;
    bottom: 25%;
    z-index: 999;
    background-color: $orangered_color;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    i-feather{
        height: 22px !important;
        width: 18px !important;
        color: white;
        text-align: center;
        font-size: 0.9em;

    }
  }

  .active-close-side{
    color: $orangered_color !important;
    font-weight: 800;

    
  }

}