<div class="sidebar slide-left" [class.show]="!isSlide">
  <div class="logo-section ps-4 bg-white" style="width: 258px; height: 66px">
    <a class="navbar-brand">
      <img
        src="assets/images/logo.png"
        alt="Logo"
        width="110"
        height="35"
        class="d-inline-block align-text-top"
      />
    </a>
  </div>

  <div class="pt-3">
    @for (item of sideMenuItems; track $index) {
    <div>
      @if(item?.items?.length > 0){

      <ul class="list-unstyled">
        @for (subitems of item?.items; track $index) {
        <li>
          <a [routerLink]="subitems?.link" routerLinkActive="active">
            <div class="d-flex justify-content-start align-items-center">
              <i-feather [name]="subitems?.icons" class="icons"></i-feather>
              <span> {{ subitems?.name }}</span>
            </div>
          </a>
        </li>
        }
      </ul>
      } @if(item?.submenu?.length > 0){

      <div class="accordion" [id]="item?.main">
        <div class="accordion-item">
          <h2
            class="accordion-header"
            id="headingOne"
            routerLinkActive="active"
          >
            <button
              class="accordion-button cust-accordian collapsed"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#' + item?.main + $index"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <div class="d-flex justify-content-center align-items-center">
                <i-feather [name]="item?.icon" class="icons"></i-feather>
                <span> {{ item?.main }}</span>
              </div>
            </button>
          </h2>
          <div
            [id]="item?.main + $index"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            [attr.data-bs-parent]="'#' + item?.main"
          >
            <div class="accordion-body py-0">
              <ul class="list-unstyled ps-3">
                @for (subitems of item?.submenu; track $index) {
                <li>
                  <a [routerLink]="subitems?.link" routerLinkActive="active">
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <i-feather
                        [name]="subitems?.icons"
                        class="icons"
                      ></i-feather>
                      <span> {{ subitems?.name }}</span>
                    </div></a
                  >
                </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>

      }
    </div>

    <!-- <div class="cust-hr">
    <hr />
  </div> -->

    }
  </div>
</div>
<div class="show-sidebar" (click)="isSlide = !isSlide">
  <i-feather name="chevrons-left"></i-feather>
</div>
