<div class="sidebar slide-left" [class.show]="!isSlide" [ngStyle]="{ 'width' : !isSlide ? '258px' :'110px' }">
  <div class="logo-section ps-4 bg-white d-flex justify-content-center align-items-center" style=" height: 66px" [ngStyle]="{ 'width' : !isSlide ? '258px' :'110px' }">
    <a class="navbar-brand">
      <img
        [src]="isSlide ? 'assets/images/logo-small.png' :'assets/images/logo.png'"
        alt="Logo"
        [width]="!isSlide ? '110' : '30'"
        [height]="!isSlide ? '35' : '25'"
        class="d-inline-block align-text-top"
      />
    </a>
  </div>

  <div class="pt-3">
    @for (item of sideMenuItems; track $index) {
    <div>
      @if(item?.items?.length > 0){

      <ul class="list-unstyled" [class.px-4]="isSlide">
        @for (subitems of item?.items; track $index) {
        <li>
          <a [routerLink]="subitems?.link"  [routerLinkActive]="isSlide ? 'active-close-side' : 'active'">
            <div class="d-flex justify-content-start align-items-center">
              <i-feather [name]="subitems?.icons" class="icons" [ngStyle]="{'paddingRight': isSlide ? '5px' :'10px'}"></i-feather>
       @if(!isSlide){
        <span> {{ subitems?.name }}</span>
       }       
            </div>
          </a>
        </li>
        }
      </ul>
      } @if(item?.submenu?.length > 0){

      <div class="accordion" [id]="item?.main">
        <div class="accordion-item" [class.px-2]="isSlide ">
          <h2
            class="accordion-header"
            id="headingOne"
            routerLinkActive="active"
          >
            <button
              class="accordion-button cust-accordian collapsed"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#' + item?.main + $index"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <div class="d-flex justify-content-center align-items-center">
                <i-feather [name]="item?.icon" class="icons" [ngStyle]="{'paddingRight': isSlide ? '5px' :'10px'}"></i-feather>
                @if(!isSlide){    <span> {{ item?.main }}</span>}
              </div>
            </button>
          </h2>
          <div
            [id]="item?.main + $index"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            [attr.data-bs-parent]="'#' + item?.main"
          >
            <div class="accordion-body py-0">
              <ul class="list-unstyled ps-3">
                @for (subitems of item?.submenu; track $index) {
                <li>
                  <a [routerLink]="subitems?.link" [routerLinkActive]="isSlide ? 'active-close-side' : 'active'" [class.p-0]="isSlide">
                    <div
                      class="d-flex justify-content-start align-items-center"
                    >
                      <i-feather
                        [name]="subitems?.icons"
                        class="icons"
                        [ngStyle]="{'paddingRight': isSlide ? '5px' :'10px'}"
                      ></i-feather>
                      @if(!isSlide){
                      <span> {{ subitems?.name }}</span>
                      }
                    </div></a
                  >
                </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>

      }
    </div>

    <!-- <div class="cust-hr">
    <hr />
  </div> -->

    }
  </div>
</div>
<div class="show-sidebar d-flex justify-content-center align-items-center m-0" (click)="updateHeader()"   [ngStyle]="{ 'left': isSlide ? '65px' : '' }" >
  <i-feather name="chevrons-left"></i-feather>
</div>
