@import '../../../assets/scss/custom.scss';
@include themify($themes) {
.add_section{

    height: max-content;

    p{
      color:  themed("text") !important;
    }
  
  
  .body_section{
    .accordion-item{
        background:  themed("topheader") !important;
        color: themed("text");
        border-color: themed("border") !important;
    }

      .fill_icons{
          color: $orangered_color;
         width: 3rem;
      }
      h5{ 
          font-size: 16px;
          color: themed("accordianheader");
          font-weight: 500;
       }
  
    
      .accordion-button{
          background: none;
          border-bottom: 1px solid themed("labelcolor");
      }
      input::placeholder{
         color: $placeholder_color;
      }
  
      .toggle{
          .toggle_button{
              .form-check-input {
         
                  height: 1.5rem;
                  width: 3rem;      
  
                  &:checked{
                      background-color: $orangered_color;
                      border-color: $orangered_color;
                  }
              }
          }
      }
      
   
  }
  }
}