main{
    left: 258px;
    padding-bottom: 2em;
    top: 90px;
    transition:  transform 1s ease-in-out, opacity 1s ease-in-out;
    &.isShow{
        top: 0px;
        transition:  transform 1s ease-in-out, opacity 1s ease-in-out;
    }
}

.side-container{
    z-index: 999;
}

@import '../../assets/scss/custom.scss';

@include themify($themes) {
    .form-control,
    .form-select{
        background-color: themed("topheader") !important;
        color:  themed("labelcolor");
    }
    p{
        color:  themed("labelcolor") !important;
    }

    input::placeholder,
    select::placeholder {
        color:  themed("text"); /* Change to your desired color */
      }
      


}