<section>
    <app-pageheaders
      [topHeadingContent]="{
          heading: 'Designation',
          subitems: 'Create/List Designation',
        }"
    >
    </app-pageheaders>
  
    <app-accordian
      [accordianItems]="{
        heading: 'Add Designation',
        id: 'filldesignation'
      }"
    >
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="mb-3">
            <label for="food" class="form-label">Designation :</label>
            <input
              type="text"
              class="form-control"
              id="designation"
              placeholder="Designation"
            />
          </div>
        </div>
    
  
        <div class="col-12 col-lg-4">
          <div class="toggle my-1">
            <label for="locatonname" class="form-label">Status :</label>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckChecked"
                checked
              />
            </div>
          </div>
        </div>
      </div>

    
    </app-accordian>

    <app-accordian
    [accordianItems]="{
      heading: 'Access Right',
      id: 'accessrights',
      hide:false
    }"
  >
  <div class="row mb-2">
    <div class="col-12 col-lg-4">
        <div class="selective">
            <p class="mb-2">Select Component :</p>
            <select class="form-select" aria-label="Default select example">
              <option selected disabled>Select Component</option>
              <option value="1">Sales</option>
              <option value="2">Master</option>
              <option value="3">Catalouge</option>
            </select>
          </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="selective">
            <p class="mb-2">Select Rights :</p>
            <select class="form-select" aria-label="Default select example">
              <option selected disabled>Select Rights</option>
              <option value="1">Add/Edit/View</option>
              <option value="2">View Only</option>
              <option value="3">View/Edit Only</option>
            </select>
          </div>
    </div>

    <div class="col-12 col-lg-4 d-flex justify-content-start align-items-end">
        <app-buttons [buttonText]="{ save: 'Add Access Rights' }" class="mb-0"/>
        <app-buttons [buttonText]="{ save: 'Remove' }" class="mb-0" [background]="'bg-danger'"/>

    </div>
  </div>

  <div class="mt-5">

  <app-buttons [buttonText]="{ cancel: 'Cancel', save: 'Save Designation' }"  />

</div>

  </app-accordian>
  
    <app-table [columns]="columns" [tableData]="tableData" (actionType)="tableAction($event)">
  
      </app-table>
  </section>
  
