/* You can add global styles to this file, and also import other style files */


@import "./assets/scss/custom.scss";

@font-face {
    font-family: "NunitoSans";
    src: url('./assets/fonts/NunitoSans.ttf');
  }
// body{
//     // font-family: myFirstFont !important;
// }
html, body { height: 100%; }
body { margin: 0; font-family: "NunitoSans" !important }




.accordion-button::after {
    content: "";
    background-image: url("../src/assets/icons/chevrondown.svg") !important;
    background-color: $lightgrey;
    border-radius: 50%;
   
  
}
.icons{

padding-right: 10px !important;
}