<div class="product-wrapper mb-3">
    <div class="product-header d-flex justify-content-between align-items-center">
        <div class="product-left">
            <strong>{{topHeadingContent?.heading}}</strong><br>
            <small>{{topHeadingContent?.subitems}}</small>
        </div>
        <div class="d-flex">
        <ng-content></ng-content>
        <button
        class="btn btn-outline-secondary d-flex justify-content-center align-items-center icon-button ms-3"
        type="button"  (click)="updateHeader()">
        <i-feather name="chevron-up" [class.rotate-arrow]="!isHide" [class.rotate-arrow-normal]="isHide" ></i-feather>
    </button>
</div>
    </div>
</div>
